:root {
  --bgColor-green-light: #20bf6b;
  --bgColor: #e0e0e0;
  --color-white: #fff;
  --bgColor-main: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
